body
{
background-image: url("images/back.jpg");
}
#logo
{
	margin:0 auto;
width:950px;
height:150px;
border-radius: 25px;
background: #193663;
}
#nav
{
	margin:0 auto;
width:950px;
height:60px;
border-radius: 25px;
background: #193663;
text-align:center;
}
#nav  ul 
{
list-style-type: none;
    margin: 0;
    padding: 5px;
}
#nav li
{
display: inline;
}
#main
{
margin:0 auto;
margin-top:10px;
width:950px;
height:600px;
border-radius: 25px;
background: #193663;
}
#homew
{
margin:0 auto;
width:950px;
height:60px;
border-radius: 25px;
background: #193663;
text-align:center;	
}
#homew  ul 
{
list-style-type: none;
    margin: 0;
    padding: 5px;
}
#homew li
{
display: linear;
}

#logo p
{
font-family:verdana;
font-size:45px;
color:white;
text-align:center;
padding:35px;
text-shadow: 2px 2px #606060;
}
/***-----------------POGAS-------------***/
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
table
{
margin-top:40px;
text-align:center;
margin:auto;
width:900px;
color:white;
font-size:18px;


}
table img
{
width:200px;

}
table p
{
}

#kruta
{
margin:auto;
}
#kruta table
{
width:900px;
border:solid 1px white;
border-collapse: collapse;
}
#kruta td
{
width:150px;
border:solid 1px white;
height:80px;
}
#kruta h3
{
text-align: center;
padding-top:20px;
}
#tituls img
{
margin-left:
margin-top:
}

